/* Common */
:root {
    --footer-sect-bg: #00439C;
    --ps-now-sect-bg: #161C3B;
    --upcoming-sect-bg: #1F1F1F;
    --more-info-btn-bg: #2D64E6;
    --login-btn-bg: #363636;
    --ps-plus-sect-bg: #BEBCBB;
    --shop-now-btn-bg: #CD3D0F;
    --ps-plus-btn-bg: #D9DADC;
    --ps-now-btn-bg: #F5F5F5;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Background colors */
.ps-bg-black {
    background-color: #000000;
}

.ps-login-btn-bg {
    background-color: var(--login-btn-bg);
}

.ps-buy-btn-bg {
    background-color: var(--shop-now-btn-bg);
}

/* Text colors */
.ps-text-dark {
    color: #000000;
}

.ps-text-blue {
    color: #0d6efd;
}

.ps-text-gray {
    color: #7c7c7c;
}

/* Utility */
.ps-btn-br-hv {
    border-radius: 3rem;
}

.btn-outline {
    border-radius: 3rem;
}

.ps-btn-br-hv:hover {
    border-color: #FFFFFF;
}

.btn-outline:hover {
   border: 2px solid var(--login-btn-bg);
   margin-right: -2px;
   margin-left: -2px;
}

.rounded-125 {
    border-radius: 1.25rem;
}

.ps-mt-7rem {
    margin-top: 7rem;
}

/* Header */
#site-header.hero-img {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

#site-header .banner {
    padding-top: 20rem;
}

/* slider section */
#slider .img-container:hover {
    border: 2px solid #0d6efd;
}   