/* Common */
:root {
    --footer-sect-bg: #00439C;
    --ps-now-sect-bg: #161C3B;
    --upcoming-sect-bg: #1F1F1F;
    --more-info-btn-bg: #2D64E6;
    --login-btn-bg: #363636;
    --ps-plus-sect-bg: #BEBCBB;
    --shop-now-btn-bg: #CD3D0F;
    --ps-plus-btn-bg: #D9DADC;
    --ps-now-btn-bg: #F5F5F5;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Background colors */
.ps-bg-black {
    background-color: #000000;
}

.ps-bg-dark {
    background-color: var(--upcoming-sect-bg);
}

.ps-login-btn-bg {
    background-color: var(--login-btn-bg);
}

.ps-buy-btn-bg {
    background-color: var(--shop-now-btn-bg);
}

.ps-info-btn-bg {
    background-color: var(--more-info-btn-bg);
}

.ps-plus-bg {
    background-color: var(--ps-plus-sect-bg);
}

.ps-plus-btn-bg {
    background-color: var(--ps-plus-btn-bg);
}

.ps-now-bg {
    background-color: var(--ps-now-sect-bg);
}

.footer-bg {
    background-color: var(--footer-sect-bg);
}

/* Text colors */
.ps-text-dark {
    color: #000000;
}

.ps-text-blue {
    color: #0d6efd;
}

.ps-text-gray {
    color: #7c7c7c;
}

/* Utility */

/* Buttons utilities */
.ps-btn-br {
    border-radius: 3rem;
}

.ps-login-btn:hover {
    box-shadow:inset 0 0 0 2px white;
}

.ps-buy-btn:hover {
    box-shadow:inset 0 0 0 2px white;
}

.ps-info-btn:hover {
    box-shadow:inset 0 0 0 2px white;
}

.ps-plus-btn:hover {
    box-shadow:inset 0 0 0 2px white;
}

.img-container {
    position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.img-container:hover {
    transform: translate(0, -20px);
}

@keyframes moveup {

    0% {
        bottom: 0px
    }

    100% {
        bottom: 20px
    }
}

/* Other utilities */

.rounded-125 {
    border-radius: 1.25rem;
}

.ps-mt-7rem {
    margin-top: 7rem;
}

.ps-fs-075rem {
    font-size: 0.75rem;
}

.ps-container-xxs {
    max-width: 310px;
}

/* navbar */
.dropdown-toggle::after {
    border: none;
    font: var(--fa-font-solid);
    content: "\f107";
}

.nav-link.dropdown-toggle {
    display: flex;
    align-items: center;
}

/* Header */
#site-header.hero-img {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

#site-header .banner {
    padding-top: 20rem;
}

/* slider section */
#slider .img-container:hover {
    border: 2px solid #0d6efd;
} 

/* ps5 section */
#ps5-section .accessories i {
    font-size: 0.5rem;
}

#ps5-section .items>img {
    opacity: 0.4;
}

#ps5-section .items:hover img {
    opacity: 1;
}

#ps5-section .selection {
    height: 2px;
    visibility: hidden;
}

#ps5-section .items:hover .selection {
    visibility: visible;
}

/* hero secondary section */
#hero-secondary {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

/* new section */
#new-release i {
    font-size: 0.5rem;
}

/* footer section */
#site-footer a {
    text-decoration: none;
    color: white;
}
